/* ========================================================================
     扩展样式
 ========================================================================== */

@charset "UTF-8";
//重写弹框布局距离
.toast-top-center,.toast-top-right{
  top:60px;
}
.toast-top-left {
  top: 60px;
  left: 230px;
}
.toast-bottom-left {
  left: 230px;
}
