/* ========================================================================
     扩展样式
 ========================================================================== */

@charset "UTF-8";
//重写弹框布局距离
.toast-top-center,.toast-top-right{
  top:60px;
}
.toast-top-left {
  top: 60px;
  left: 230px;
}
.toast-bottom-left {
  left: 230px;
}
.clear{clear:both;}
.color-f50{color: #f50;}
.font14{font-size: 14px}
.font16{font-size: 16px}
.font18{font-size: 18px}
.font20{font-size: 20px}
.font22{font-size: 22px}
.font24{font-size: 24px}
.m5{margin: 5px;}
.m15{margin: 15px;}
.m20{margin: 20px;}
.mt5{margin-top: 5px;}
