<div class="content-heading mb-lg">
  平台系统
  <app-buttons class="pull-right" [config]="addButton" routerLink="addSystem"></app-buttons>
</div>
<div class="panel mb">
  <div class="panel-body p ng-scope" ng-if="search">
    <div class="form-group mb0">
      <label class="col-sm-1 mb0 lh36 pull-left text-right">查找：</label>
      <div class="col-sm-5">
        <input type="text" [(ngModel)]="searchKey" class="form-control bt0 bl0 br0 border-b-grey ng-pristine ng-valid ng-touched"
               (change)="queryDatas($event)" placeholder="系统名称">
      </div>
      <div class="col-sm-1 pull-left text-center">
          <span class="ng-scope">
            <button type="button" title="搜索" id="toSearch" (click)="queryDatas($event)"
                    class="btn btn-primary bar-h3-btn mr ng-scope">
              <em class="icon-magnifier fa-fw"></em>搜索
            </button>
          </span>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <table class="table table-striped" #systems="rzhDataTable" [rzhData]="sys" (pageChange)="queryDatas($event)">
      <thead>
      <tr>
        <th class="w5 unselectable text-center sort-num">
          序号
        </th>
        <th class="col-md-2 unselectable text-center">
          <rzhDefaultSorter by="sysName">系统名称</rzhDefaultSorter>
        </th>
        <th class="col-md-2 unselectable text-center">
          <rzhDefaultSorter by="orgBoss">系统网址</rzhDefaultSorter>
        </th>
        <th class="col-md-2 unselectable text-center">
          <rzhDefaultSorter by="orgSign">备注</rzhDefaultSorter>
        </th>
        <th class="col-md-2 unselectable text-center">
          <rzhDefaultSorter by="adr">创建时间</rzhDefaultSorter>
        </th>
        <th class="col-md-1 unselectable text-center">开启/关闭</th>
        <th class="col-md-2 unselectable text-center">其他操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let sys of systems.data;let i = index" class="text-center">
        <td>{{i+1}}</td>
        <td>{{sys.sysName}}</td>
        <td><a [routerLink]="sys.sysUrl">{{sys.sysUrl}}</a></td>
        <td>{{sys.remarks}}</td>
        <td>{{sys.crtime | date: 'yyyy-mm-dd hh:mm:ss'}}</td>
        <td>
          <label class="switch switch-md" title="停/启用">
            <input [checked]="sys.isUse=='Y'" type="checkbox"
                   (change)="quitSystem(sys.isUse=='Y',sys.sysCode)">
            <span></span>
          </label>
        </td>
        <td>
          <div *ngIf="sys.isUse=='Y'">
            <button class="btn btn-primary fa fa-pencil btn-xs" (click)="changeSysInfo(sys.sysCode)" title="修改"></button>
            <button class="btn btn-green icon-magnifier-add btn-xs" (click)="lookSysDetail(sys.sysCode)"
                    title="详情"></button>
          </div>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="7">
          <div class="col-sm-5">
            <div class="text-muted"><strong>第 {{sys.genStartRow()}} 至 {{sys.genEndRow()}} 条，共 {{sys.totalRow}}
              条</strong></div>
          </div>
          <div class="col-sm-7">
            <div class="pull-right">
              <rzhBootstrapPaginator></rzhBootstrapPaginator>
            </div>
          </div>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>

<!--路由嵌套 begin-->
<router-outlet></router-outlet>
<!--路由嵌套 end-->
