<div class="rightpage">
  <form class="form-validate form-horizontal" #addOrganForm="ngForm" style="height: 100%">
    <!-- START panel-->
    <div class="panel-default">
      <!--可编辑表单 start-->
      <div class="panel-body" *ngIf="Organ">
        <fieldset class="b0">
          <legend>{{pageTitle}}</legend>
        </fieldset>

        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label"><i>*</i>机构名称</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" name="orgName" required [(ngModel)]="organ.orgName"
                     #orgName="ngModel" placeholder="请输入机构名称"/>
            </div>
          </div>
          <div [hidden]="orgName.valid || orgName.pristine"
               class="col-sm-8 pull-right text-danger">
            机构名称不可缺少
          </div>
        </fieldset>
        <!--<fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label">上级机构编码</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" name="preCode" [(ngModel)]="organ.preCode"
                     placeholder="请填写上级机构编码"/>
            </div>
          </div>
        </fieldset>-->
        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label"><i>*</i>电话</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" name="tel" required [(ngModel)]="organ.tel" #tel="ngModel"
                     [pattern]="patterns.tel" placeholder="请输入机构电话"/>
            </div>
          </div>
          <div [hidden]="tel.valid || tel.pristine"
               class="col-sm-8 pull-right text-danger">
            请输入正确的号码
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label"><i>*</i>负责人</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" name="orgBoss" required [(ngModel)]="organ.orgBoss"
                     #orgBoss="ngModel" placeholder="请输入负责人姓名"/>
            </div>
          </div>
          <div [hidden]="orgBoss.valid || orgBoss.pristine"
               class="col-sm-8 pull-right text-danger">
            请输入负责人姓名
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label"><i>*</i>负责人电话</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" name="bossPhone" required [(ngModel)]="organ.bossPhone"
                     #bossPhone="ngModel" [pattern]="patterns.phone" placeholder="请输入负责人电话"/>
            </div>
          </div>
          <div [hidden]="bossPhone.valid || bossPhone.pristine"
               class="col-sm-8 pull-right text-danger">
            请输入正确的号码
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label"><i>*</i>类型</label>
            <div class="col-sm-7">
              <select class="form-control" name="type" required [(ngModel)]="organ.type" #type="ngModel">
                <option value="" disabled>请选择机构类型</option>
                <option [value]="orgType.key" *ngFor="let orgType of orgTypes">{{orgType.val}}</option>
              </select>
            </div>
          </div>
          <div [hidden]="type.valid || type.pristine"
               class="col-sm-8 pull-right text-danger">
            请选择机构类型
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label"><i>*</i>区域</label>
            <div class="col-sm-7">
              <app-select-area [required]="true" [selectedAreaName]="organ.areaCode | areaName" (myData)="getAreaData($event)"></app-select-area>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label">详细地址</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" name="addr" [(ngModel)]="organ.addr" placeholder="请输入详细地址"/>
            </div>
          </div>
        </fieldset>
        <fieldset *ngIf="path == 'addOrgan'">
          <div class="form-group">
            <label class="col-sm-4 control-label">机构LOGO</label>
            <div class="col-sm-7">
              <img class="col-sm-5 p-sm" *ngIf="myImg" [src]="myImg" alt="">
              <label class="btn btn-default file-upload">
                <i class="icon-cloud-upload mr"></i>{{fileName}}
                <input class="w100" type="file" name="sysLogo" ng2FileSelect [uploader]="uploader"
                       (change)="fileChangeListener($event)"/>
              </label>
            </div>
          </div>
        </fieldset>
        <fieldset *ngIf="path == 'updateOrgan'">
          <div class="form-group">
            <label class="col-sm-4 control-label">机构LOGO</label>
            <div class="col-sm-7">
              <img *ngIf="organ.orgLogo && !myImg" class="col-sm-5 p-sm" [src]="organ.orgLogo" alt="">
              <img *ngIf="organ.orgLogo && myImg" class="col-sm-5 p-sm" [src]="myImg" alt="">
              <img *ngIf="!organ.orgLogo && myImg" class="col-sm-5 p-sm" [src]="myImg" alt="">
              <label class="btn btn-default file-upload">
                <i class="icon-cloud-upload mr"></i>{{organ.orgLogo? '修改图片':'上传图片'}}
                <input class="w100" type="file" name="sysLogo" ng2FileSelect [uploader]="uploader"
                       (change)="fileChangeListener($event)"/>
              </label>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label">机构职责</label>
            <div class="col-sm-7">
              <input class="form-control" name="duty" id="duty" [(ngModel)]="organ.duty" placeholder="请选择机构职责"/>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label">备注</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" name="remarks" [(ngModel)]="organ.remarks" placeholder="备注"/>
            </div>
          </div>
        </fieldset>
      </div>
      <!--可编辑表单 end-->

      <!--修改机构负责人 updateBoss start-->
      <div class="panel-body" *ngIf="updateBoss">
        <fieldset class="b0">
          <legend>{{pageTitle}}</legend>
        </fieldset>

        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label">机构名称</label>
            <div class="col-sm-7">
              <input class="form-control" readonly [value]="organ.orgName"/>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label"><i>*</i>负责人</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" name="orgBoss" required [(ngModel)]="organ.orgBoss"
                     #orgBoss="ngModel" placeholder="请输入负责人姓名"/>
            </div>
          </div>
          <div [hidden]="orgBoss.valid || orgBoss.pristine"
               class="col-sm-8 pull-right text-danger">
            请输入负责人姓名
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label"><i>*</i>负责人电话</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" name="bossPhone" required [(ngModel)]="organ.bossPhone"
                     #bossPhone="ngModel" [pattern]="patterns.phone" placeholder="请输入负责人电话"/>
            </div>
          </div>
          <div [hidden]="bossPhone.valid || bossPhone.pristine"
               class="col-sm-8 pull-right text-danger">
            请输入正确的号码
          </div>
        </fieldset>
      </div>
      <!--修改机构负责人 updateBoss end-->

      <!--修改机构类型 updateType start-->
      <div class="panel-body" *ngIf="updateType">
        <fieldset class="b0">
          <legend>{{pageTitle}}</legend>
        </fieldset>

        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label">机构名称</label>
            <div class="col-sm-7">
              <input class="form-control" readonly [value]="organ.orgName"/>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label"><i>*</i>类型</label>
            <div class="col-sm-7">
              <select class="form-control" name="type" required [(ngModel)]="organ.type" #type="ngModel">
                <option value="" disabled>请选择机构类型</option>
                <option [value]="orgType.key" *ngFor="let orgType of orgTypes">
                  {{orgType.val}}
                </option>
              </select>
            </div>
          </div>
          <div [hidden]="type.valid || type.pristine"
               class="col-sm-8 pull-right text-danger">
            请选择机构类型
          </div>
        </fieldset>
      </div>
      <!--修改机构类型 updateType end-->

      <!--添加角色或角色组 start-->
      <div class="panel-body" *ngIf="addRolesRelation">
        <fieldset class="b0">
          <legend>{{pageTitle}}</legend>
        </fieldset>

        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label">机构名称</label>
            <div class="col-sm-7">
              <input class="form-control" readonly [value]="organ.orgName"/>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label">选择系统</label>
            <div class="col-sm-7">
              <select class="form-control" name="sysCode" required [(ngModel)]="sysCode"
                      (change)="selectedChange()">
                <option value="" disabled>请选择系统</option>
                <option *ngFor="let sys of systems" [value]="sys.sysCode">
                  {{sys.sysName}}
                </option>
              </select>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label">选择角色</label>
            <ng-select class="col-sm-7" (data)="value" [multiple]="true" [items]="Role"
                       [disabled]="!addOrganForm.form.valid" #defaultRoles
                       (data)="refreshValueRole($event)" placeholder="请选择角色"></ng-select>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label">选择角色组</label>
            <ng-select class="col-sm-7" (data)="value" [multiple]="true" [items]="Group"
                       [disabled]="!addOrganForm.form.valid" #defaultGroup
                       (data)="refreshValueGroup($event)" placeholder="请选择角色组"></ng-select>
          </div>
        </fieldset>
      </div>
      <!--添加角色或角色组 end-->

      <!--展示详情 start-->
      <div class="panel-body" *ngIf="detail">
        <fieldset class="b0">
          <legend>{{pageTitle}}</legend>
        </fieldset>
        <ul class="org-items">
          <li class="org-item">
            <span class="item-hd col-sm-4">机构名称：</span>
            <p class="item-bd col-sm-7">{{organ.orgName}}</p>
          </li>
          <li class="org-item">
            <span class="item-hd col-sm-4">机构LOGO：</span>
            <p class="item-bd col-sm-7">
              <img height="50px" [src]="organ.orgLogo" onerror="javascript:this.src='../../../assets/img/dummy.png'"
                   alt=""></p>
          </li>
          <li class="org-item">
            <span class="item-hd col-sm-4">机构类型：</span>
            <p class="item-bd col-sm-7">{{organ.type | rzhState:'1007'}}</p>
          </li>
          <li class="org-item">
            <span class="item-hd col-sm-4">机构Sign：</span>
            <p class="item-bd col-sm-7">{{organ.Sign}}</p>
          </li>
          <li class="org-item">
            <span class="item-hd col-sm-4">机构状态：</span>
            <p class="item-bd col-sm-7">{{organ.state | rzhState:'1008' }}</p>
          </li>
          <li class="org-item">
            <span class="item-hd col-sm-4">机构代码：</span>
            <p class="item-bd col-sm-7">{{organ.orgCode}}</p>
          </li>
          <li class="org-item">
            <span class="item-hd col-sm-4">机构电话：</span>
            <p class="item-bd col-sm-7">{{organ.tel}}</p>
          </li>
          <li class="org-item">
            <span class="item-hd col-sm-4">机构负责人：</span>
            <p class="item-bd col-sm-7">{{organ.orgBoss}}</p>
          </li>
          <li class="org-item">
            <span class="item-hd col-sm-4">负责人电话：</span>
            <p class="item-bd col-sm-7">{{organ.bossPhone}}</p>
          </li>
          <li class="org-item">
            <span class="item-hd col-sm-4">上级机构编码：</span>
            <p class="item-bd col-sm-7">{{organ.preCode}}</p>
          </li>
          <li class="org-item">
            <span class="item-hd col-sm-4">区域地址：</span>
            <p class="item-bd col-sm-7">{{organ.areaCode | areaName}}</p>
          </li>
          <li class="org-item">
            <span class="item-hd col-sm-4">详细地址：</span>
            <p class="item-bd col-sm-7">{{organ.adr}}</p>
          </li>
          <li class="org-item">
            <span class="item-hd col-sm-4">机构职责：</span>
            <p class="item-bd col-sm-7">{{organ.duty}}</p>
          </li>
          <li class="org-item">
            <span class="item-hd col-sm-4">创建时间：</span>
            <p class="item-bd col-sm-7">{{organ.crtime | date: 'yyyy-MM-dd HH:mm:ss'}}</p>
          </li>
          <li class="org-item">
            <span class="item-hd col-sm-4">修改时间：</span>
            <p class="item-bd col-sm-7">{{organ.uptime | date: 'yyyy-MM-dd HH:mm:ss'}}</p>
          </li>
          <li class="org-item">
            <span class="item-hd col-sm-4">备注：</span>
            <p class="item-bd col-sm-7">{{organ.remarks}}</p>
          </li>
        </ul>
      </div>
      <!--展示详情 end-->

      <!--btns-->
      <div class="panel-footer text-center" style="position: fixed;width: 100%;bottom:0;">
        <button class="ml btn btn-default mr pull-left" (click)="cancel()" type="button">取消</button>

        <!--添加机构-->
        <button class="ml btn btn-info pull-left" type="submit" (click)="submitOrganData()" *ngIf="Organ"
                [disabled]="!addOrganForm.form.valid">提交信息
        </button>

        <!--从详情转修改-->
        <button class="ml btn btn-info pull-left" type="button" (click)="toUpdateOrgan()" *ngIf="detail"
                [disabled]="!addOrganForm.form.valid">修改机构信息
        </button>

        <!--修改机构负责人-->
        <button class="ml btn btn-info pull-left" type="submit" (click)="submitOrganData()" *ngIf="updateBoss"
                [disabled]="!addOrganForm.form.valid">确认修改负责人
        </button>

        <!--修改机构状态-->
        <button class="ml btn btn-info pull-left" type="submit" (click)="submitOrganData()" *ngIf="updateState"
                [disabled]="!addOrganForm.form.valid">确认修改状态
        </button>

        <!--修改机构类型-->
        <button class="ml btn btn-info pull-left" type="submit" (click)="submitOrganData()" *ngIf="updateType"
                [disabled]="!addOrganForm.form.valid">确认修改性质
        </button>

        <!--修改机构类型-->
        <button class="ml btn btn-info pull-left" type="submit" (click)="submitOrganData()" *ngIf="addRolesRelation"
                [disabled]="!addOrganForm.form.valid">确认添加
        </button>
      </div>
    </div>

    <!-- END panel-->
  </form>
</div>
