.c_ding_btn_xs {
  padding: 3px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 2px;
  min-width: 74px;
}
.c_ding_btn {
  display: inline-block;
  padding: 4px 10px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #c3c6ce;
  background: #ffffff;
  border-radius: 4px;
  min-width: 80px;
  color: #414141;
  position: relative;
}
.c_action_content {
  width: 100%;
  padding: 0 15px;
  min-height: 38px;
  background: #eceff4;
  line-height: 38px;
}
a:hover{
  text-decoration: none !important;
}
a{
  text-decoration: none !important;
}
li{
  list-style: none;
}
