<!--添加权限菜单begin-->
<div class="rightpage" *ngIf="this.queryId!=2">
  <form class="form-validate form-horizontal" style="height: 100%" #addLimitForm="ngForm">
    <!-- START panel-->
    <div class="panel-default">
      <div class="panel-body">
        <fieldset class="b0">
          <legend>添加菜单</legend>
        </fieldset>
        <input class="form-control" required [(ngModel)]="limitForm.sysCode" name="sysCode" #sysCode="ngModel" type="hidden"/>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label"> <i>*</i> 菜单名称</label>
            <div class="col-sm-8">
              <input class="form-control" required [(ngModel)]="limitForm.menuName" name="menuName"
                     #menuName="ngModel" type="text"/>
              <div [hidden]="menuName.valid || menuName.pristine"
                   class="alert alert-danger">
                菜单名称是必填项，请填写菜单名称
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label"> <i>*</i> 菜单URL</label>
            <div class="col-sm-8">
              <input class="form-control" required name="menuUrl" [(ngModel)]="limitForm.menuUrl"
                     #menuUrl="ngModel" type="text"/>
              <div [hidden]="menuUrl.valid || menuUrl.pristine"
                   class="alert alert-danger">
                url是必填项，请填写url路径
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label">菜单图标</label>
            <div class="col-sm-8">
              <input class="form-control" type="text" name="menuIcon" ngModel [(ngModel)]="limitForm.menuIcon"/>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label"> <i>*</i> 级别</label>
            <div class="col-sm-8">
              <input class="form-control" required name="level" [(ngModel)]="limitForm.level" level="level"
                     #level="ngModel" type="text"/>
              <div [hidden]="level.valid || level.pristine"
                   class="alert alert-danger">
                级别是必填项，请填写级别
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label">备注</label>
            <div class="col-sm-8">
              <input class="form-control" type="text" name="remarks" ngModel [(ngModel)]="limitForm.remarks"/>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label">菜单顺序</label>
            <div class="col-sm-8">
              <input class="form-control" type="text" name="ord" [(ngModel)]="limitForm.ord" ngModel/>
            </div>
          </div>
        </fieldset>
      </div>
      <!--按钮的操作begin-->
      <div class="panel-footer text-center" style="position: fixed;width: 100%;bottom:0;">
        <button class="ml btn btn-default mr pull-left" (click)="cancel()" type="button">取消</button>
        <button class="ml btn btn-info pull-left" type="button" [disabled]="!addLimitForm.form.valid" (click)="addLimitList(addLimitForm.value)">提交信息</button>
      </div>
      <!--按钮的操作end-->
    </div>
    <!-- END panel-->
  </form>
</div>
<!--添加权限菜单end-->

<!--添加权限菜单子集begin-->
<div class="rightpage" *ngIf="this.queryId==7">
  <form class="form-validate form-horizontal" style="height: 100%" #addLimitForm="ngForm">
    <!-- START panel-->
    <div class="panel-default">
      <div class="panel-body">
        <fieldset class="b0">
          <legend>添加菜单</legend>
        </fieldset>
        <input class="form-control" required [(ngModel)]="limitForm.sysCode" name="sysCode" #sysCode="ngModel" type="hidden"/>
        <input class="form-control" required [(ngModel)]="limitForm.preMenuCode" name="preMenuCode" #sysCode="ngModel" type="hidden"/>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label"> <i>*</i> 菜单名称</label>
            <div class="col-sm-8">
              <input class="form-control" required [(ngModel)]="limitForm.menuName" name="menuName"
                     #menuName="ngModel" type="text"/>
              <div [hidden]="menuName.valid || menuName.pristine"
                   class="alert alert-danger">
                菜单名称是必填项，请填写菜单名称
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label"> <i>*</i> 菜单URL</label>
            <div class="col-sm-8">
              <input class="form-control" required name="menuUrl" [(ngModel)]="limitForm.menuUrl"
                     #menuUrl="ngModel" type="text"/>
              <div [hidden]="menuUrl.valid || menuUrl.pristine"
                   class="alert alert-danger">
                url是必填项，请填写url路径
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label">菜单图标</label>
            <div class="col-sm-8">
              <input class="form-control" type="text" name="menuIcon" ngModel [(ngModel)]="limitForm.menuIcon"/>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label"> <i>*</i> 级别</label>
            <div class="col-sm-8">
              <input class="form-control" required name="level" [(ngModel)]="limitForm.level" level="level"
                     #level="ngModel" type="text"/>
              <div [hidden]="level.valid || level.pristine"
                   class="alert alert-danger">
                级别是必填项，请填写级别
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label">备注</label>
            <div class="col-sm-8">
              <input class="form-control" type="text" name="remarks" ngModel [(ngModel)]="limitForm.remarks"/>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label">菜单顺序</label>
            <div class="col-sm-8">
              <input class="form-control" type="text" name="ord" [(ngModel)]="limitForm.ord" ngModel/>
            </div>
          </div>
        </fieldset>
      </div>
      <!--按钮的操作begin-->
      <div class="panel-footer text-center" style="position: fixed;width: 100%;bottom:0;">
        <button class="ml btn btn-default mr pull-left" (click)="cancel()" type="button">取消</button>
        <button class="ml btn btn-info pull-left" type="button" [disabled]="!addLimitForm.form.valid" (click)="addLimitList(addLimitForm.value)">提交信息</button>
      </div>
      <!--按钮的操作end-->
    </div>
    <!-- END panel-->
  </form>
</div>
<!--添加权限菜单子集end-->

<!--添加页面元素begin-->
<div class="rightpage" *ngIf="this.queryId==2">
  <form class="form-validate form-horizontal" style="height: 100%" #addLimitForm="ngForm" (ngSubmit)="addLimitList(addLimitForm.value)"
  >
    <!-- START panel-->
    <div class="panel-default">
      <div class="panel-body">
        <fieldset class="b0">
          <legend>添加页面</legend>
        </fieldset>
        <input class="form-control" required [(ngModel)]="limitForm.sysCode" name="sysCode"
               #sysCode="ngModel" type="hidden"/>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label"><i>*</i>选择菜单{{menuCode}}</label>
            <div class="col-sm-8">
              <app-select-menu [sysCode]="limitForm.sysCode" (curMenuCode)="getMenuData($event)"></app-select-menu>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label"> <i>*</i> 页面名称</label>
            <div class="col-sm-8">
              <input class="form-control" required ngModel name="pageName"
                     #pageName="ngModel" type="text"/>
              <div [hidden]="pageName.valid || pageName.pristine"
                   class="alert alert-danger">
                页面名称是必填项，请填写页面名称
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label">页面图标</label>
            <div class="col-sm-8">
              <input class="form-control" type="text" name="icon" #icon="ngModel" ngModel/>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label"> <i>*</i> 级别</label>
            <div class="col-sm-8">
              <input class="form-control" required name="level" ngModel level="level"
                     #level="ngModel" type="text"/>
              <div [hidden]="level.valid || level.pristine"
                   class="alert alert-danger">
                级别是必填项，请填写级别
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label">备注</label>
            <div class="col-sm-8">
              <input class="form-control" type="text" name="remarks" #remarks="ngModel" ngModel/>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label">排序</label>
            <div class="col-sm-8">
              <input class="form-control" type="text" name="ord" #ord="ngModel" ngModel/>
            </div>
          </div>
        </fieldset>
      </div>
      <!--按钮的操作begin-->
      <div class="panel-footer text-center" style="position: fixed;width: 100%;bottom:0;">
        <button class="ml btn btn-default mr pull-left" (click)="cancel()" type="button">取消</button>
        <button class="ml btn btn-info pull-left" type="submit" [disabled]="!addLimitForm.form.valid">提交信息</button>
      </div>
      <!--按钮的操作end-->
    </div>
    <!-- END panel-->
  </form>
</div>
<!--添加页面元素end-->

<!--添加页面元素子集begin-->
<div class="rightpage" *ngIf="this.queryId==8">
  <form class="form-validate form-horizontal" style="height: 100%" #addLimitForm="ngForm">
    <!-- START panel-->
    <div class="panel-default">
      <div class="panel-body">
        <fieldset class="b0">
          <legend>添加菜单</legend>
        </fieldset>
        系统编码<input class="form-control" required [(ngModel)]="limitForm.sysCode"  name="sysCode" #sysCode="ngModel" />
        页面编码<input class="form-control" required [(ngModel)]="limitForm.preCode"  name="preCode" #sysCode="ngModel"/>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label"> <i>*</i> 页面名称</label>
            <div class="col-sm-8">
              <input class="form-control" required ngModel name="pageName"
                     #pageName="ngModel" type="text"/>
              <div [hidden]="pageName.valid || pageName.pristine"
                   class="alert alert-danger">
                页面名称是必填项，请填写页面名称
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label">页面图标</label>
            <div class="col-sm-8">
              <input class="form-control" type="text" name="icon" #icon="ngModel" ngModel/>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label"> <i>*</i> 级别</label>
            <div class="col-sm-8">
              <input class="form-control" required name="level" [(ngModel)]="limitForm.level" level="level"
                     #level="ngModel" type="text"/>
              <div [hidden]="level.valid || level.pristine"
                   class="alert alert-danger">
                级别是必填项，请填写级别
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label">备注</label>
            <div class="col-sm-8">
              <input class="form-control" type="text" name="remarks" #remarks="ngModel" ngModel/>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label">排序</label>
            <div class="col-sm-8">
              <input class="form-control" type="text" name="ord" #ord="ngModel" ngModel/>
            </div>
          </div>
        </fieldset>
      </div>
      <!--按钮的操作begin-->
      <div class="panel-footer text-center" style="position: fixed;width: 100%;bottom:0;">
        <button class="ml btn btn-default mr pull-left" (click)="cancel()" type="button">取消</button>
        <button class="ml btn btn-info pull-left" type="button" [disabled]="!addLimitForm.form.valid" (click)="addLimitList(addLimitForm.value)">提交信息</button>
      </div>
      <!--按钮的操作end-->
    </div>
    <!-- END panel-->
  </form>
</div>
<!--添加页面元素子集end-->

<!--添加功能操作begin-->
<div class="rightpage" *ngIf="this.queryId==4">
  <form class="form-validate form-horizontal" style="height: 100%" #addLimitForm="ngForm" (ngSubmit)="addLimitList(addLimitForm.value)"
  >
    <!-- START panel-->
    <div class="panel-default">
      <div class="panel-body">
        <fieldset class="b0">
          <legend>添加功能操作</legend>
        </fieldset>
        <input class="form-control" required [(ngModel)]="limitForm.sysCode" name="sysCode"
               #sysCode="ngModel" type="hidden"/>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label">选择上级类型</label>
            <div class="col-sm-8">
              <label class="checkbox-inline c-checkbox">
                <input id="inlineCheckbox10" type="radio" name="preType" value="option1" [(ngModel)]="preType"/>
                <span class="fa fa-check"></span> 菜单</label>
              <label class="checkbox-inline c-checkbox">
                <input id="inlineCheckbox20" type="radio" name="preType" value="option2" [(ngModel)]="preType"/>
                <span class="fa fa-check"></span> 页面元素</label>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label"><i>*</i>选择菜单</label>
            <div class="col-sm-8">
              <app-select-menu [sysCode]="limitForm.sysCode" (curMenuCode)="getMenuData($event)"></app-select-menu>
            </div>
          </div>
        </fieldset>
        <fieldset *ngIf="preType=='option2'">
          <div class="form-group">
            <label class="col-sm-3 control-label">选择上级页面元素</label>
            <div class="col-sm-8">
              <input class="form-control" type="text" name="preCode" #preCode="ngModel" ngModel/>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label"> <i>*</i> 操作名称</label>
            <div class="col-sm-8">
              <input class="form-control" required ngModel name="optName"
                     #optName="ngModel" type="text"/>
              <div [hidden]="optName.valid || optName.pristine"
                   class="alert alert-danger">
                操作名称是必填项，请填写操作名称
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label"> <i>*</i> 拦截URL</label>
            <div class="col-sm-8">
              <input class="form-control" required ngModel name="tacklUrl"
                     #tacklUrl="ngModel" type="text"/>
              <div [hidden]="tacklUrl.valid || tacklUrl.pristine"
                   class="alert alert-danger">
                拦截URL是必填项，请填写拦截URL
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label"> <i>*</i>排序</label>
            <div class="col-sm-8">
              <input class="form-control" required name="ord" ngModel ord="ord"
                     #ord="ngModel" type="text"/>
              <div [hidden]="ord.valid || ord.pristine"
                   class="alert alert-danger">
                排序是必填项，请填写排序
              </div>
            </div>
          </div>
        </fieldset>

        <fieldset>
          <div class="form-group">
            <label class="col-sm-3 control-label">备注</label>
            <div class="col-sm-8">
              <input class="form-control" type="text" name="remarks" #remarks="ngModel" ngModel/>
            </div>
          </div>
        </fieldset>
      </div>
      <!--按钮的操作begin-->
      <div class="panel-footer text-center" style="position: fixed;width: 100%;bottom:0;">
        <button class="ml btn btn-default mr pull-left" (click)="cancel()" type="button">取消</button>
        <button class="ml btn btn-info pull-left" type="submit" [disabled]="!addLimitForm.form.valid">提交信息</button>
      </div>
      <!--按钮的操作end-->
    </div>
    <!-- END panel-->
  </form>
</div>
<!--添加功能操作end-->

<!--添加文件控制begin-->
<div class="rightpage" *ngIf="this.queryId==6">
  <form class="form-validate form-horizontal" style="height: 100%" #addLimitForm="ngForm" (ngSubmit)="addLimitList(addLimitForm.value)">
    <div class="panel-default">
      <div class="panel-body">
        <fieldset class="b0">
          <legend>添加文件控制</legend>
        </fieldset>
        <input class="form-control" required [(ngModel)]="limitForm.sysCode" name="sysCode"
               #sysCode="ngModel" type="hidden"/>
        <fieldset>
          <input class="form-control" placeholder="文件名称" required ngModel name="fileName"
                 #fileName="ngModel" type="text"/>
          <div [hidden]="fileName.valid || fileName.pristine"
               class="alert alert-danger">
            文件名称是必填项，请填写文件名称
          </div>
        </fieldset>
        <!--<input class="form-control" required [(ngModel)]="limitForm.fileuuid" name="fileuuid"
               #fileuuid="ngModel" type="hidden"/>-->
        <!--上传组件 begin-->
        <fieldset>
          <p class="pull-right label label-info ng-binding ng-scope" *ngIf="uploader?.queue?.length">文件数: {{ uploader?.queue?.length }}</p>
          <h4 class="page-header mt0 text-warning"><i class="icon-cloud-upload mr"></i>上传文件 </h4>
          <table class="table">
            <thead>
            <tr>
              <th width="50%">文件名</th>
              <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of uploader.queue">
              <td><strong>{{ item?.file?.name }}</strong></td>
              <td nowrap>
                <button type="button" class="btn btn-warning btn-xs" (click)="item.cancel()" [disabled]="!item.isUploading">
                  <span class="icon-close mr"></span> 取消
                </button>
                <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
                  <span class="icon-trash mr"></span> 删除
                </button>
              </td>
            </tr>
            </tbody>
          </table>
          <div>
            <div>
              <i class="icon-clock mr5"></i>进度:
              <div class="progress" style="">
                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
              </div>
            </div>
            <div for="file1" class="file-upload pull-left mr5">
              <button type="button" class="btn btn-info btn-s"><i class="icon-cloud-upload mr"></i>选择文件</button>
              <!--多选-->
              <!--<input id="file1" type="file" ng2FileSelect [uploader]="uploader" multiple/>-->
              <input id="file1" type="file" ng2FileSelect [uploader]="uploader"/>
            </div>
            <button type="button" class="btn btn-warning btn-s" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
              <span class="icon-close mr"></span>全部取消
            </button>
            <button type="button" class="btn btn-danger btn-s" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
              <span class="icon-trash mr"></span>全部删除
            </button>
          </div>
        </fieldset>
        <!--上传组件 end-->
      </div>

      <!--操作按钮 begin-->
      <div class="panel-footer text-center" style="position: fixed;width: 100%;bottom:0;">
        <button class="ml btn btn-default mr pull-left" (click)="cancel()" type="button">取消</button>
        <button class="ml btn btn-info pull-left" type="submit" [disabled]="!addLimitForm.form.valid">提交信息</button>
      </div>
      <!--操作按钮 end-->
    </div>
  </form>
</div>
<!--添加文件控制end-->

