<ul>
  <li *ngFor="let item of result; let i = index">
    <div (click)="itemClick(item.deptName,item.deptCode,item.id)" style="position:relative;width:100%;" class="cell" [ngClass]="{'active':active_tree_cell === item.deptName}">
      <a class="" href="javascript:void(0)">
        <span (click)="tree_status[i] = pre_arr[item.deptCode] ? !tree_status[i] : tree_status[i];itemClick(item.deptCode)" *ngIf="pre_arr && pre_arr[item.deptCode]" class="fa" [ngClass]="{'fa-caret-right':!tree_status[i],'fa-caret-down': tree_status[i]}"[innerHTML]="''" style="font-size:18px;">
        </span>
        <span class="fa" [ngClass]="{'icon-people': true, 'fa-sitemap': false}"></span>
        <span [ngStyle]="{color: active_tree_cell === item.deptName ? '#fff': ''}" style="padding-left: 5px;">{{item.deptName}}</span>
      </a>
    </div>
    <app-tree *ngIf="tree_status[i] && pre_arr[item.deptCode]" [result]="pre_arr[item.deptCode]" [pre_arr]="pre_arr">
    </app-tree>
  </li>
</ul>
