<div>
  <div>
    <div class="c_title_1 contact_header" style="padding:0px;">
      <span>{{path[path.length - 1]}}</span>
      <div class="c_ding_tag c_ding_tag_success c_ding_tag_sm tag c_ding_tag_xs">全员群</div>
      <div class="c_ding_btn c_ding_btn_xs contact_btn" routerLink="rightpage" [queryParams]="{id:1}">设置</div>
    </div>
    <div>
      <div class="dept_navbar_c">
        <ul>
          <li *ngFor="let v of path; let i = last">
            <a class="c_link">{{v}}</a>
            <i class="fa" [ngClass]="{'fa-chevron-right': !i}" [innerHTML]="''"></i>
          </li>
          <!--<li class="end_title" *ngFor="let v of path">{{v}}</li>-->
        </ul>
      </div>
    </div>
    <div style="margin-bottom:10px;">
      <div class="c_title_1"><i class="fa fa-sitemap" [innerHTML]="''"></i>
        <span>下级部门</span>
      </div>
      <div class="c_action_content">
        <div class="c_ding_btn c_ding_btn_xs" routerLink="rightpage" [queryParams]="{id:2}">添加子部门</div>
        <div class="c_ding_btn c_ding_btn_xs" style="">调整位置</div>
      </div>
      <div class="">
        <div class="dragDropDept">
          <div class="c_drag_drop_dept_item" *ngFor="let v of list_data">
            <div class="name">
              <span>{{v.name}}</span>
              <span>&nbsp;（</span><span>{{v.memberCount}}</span><span>人）</span>
            </div>
            <div class="number">
              <i class="fa fa-chevron-right" [innerHTML]="''" style="color:#b9babc;"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="c_title_1">
        <i class="fa fa-user-plus" [innerHTML]="''"></i>
        <span>部门人员</span>
      </div>
    </div>
  </div>
  <!--路由嵌套 begin-->
  <router-outlet></router-outlet>
  <!--路由嵌套 end-->
</div>

