<div class="page-body">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <div class="page-container" ng-controller="LoginFormController">
    <h1 class="text-info">系统权限管理平台</h1>
    <form class="form" role="form" ng-submit="login()" name="loginForm" novalidate="">
      <div id="authMsg" class="authMsg"></div>
      <input type="text" class="input" name="username" [(ngModel)]="userName" autocomplete="off" required  placeholder="请输入管理员账号">
      <input type="password" class="input" name="password" [(ngModel)]="password" autocomplete="off" required placeholder="请输入密码">
      <!--<div toggle-fullscreen="toggle-fullscreen">-->

      <button type="submit" class="button button-login" (click)="login()">点击登陆</button>
      <div [hidden]="!loginFail.type" class="text-danger text-left p-sm login-tip"  [innerHTML]="loginFail
        .info"></div>
      <!--</div>-->
      <div class="error"><span>+</span></div>
    </form>
    <div class="connect">
      <p><span ng-bind="app.description"></span></p>
      <p>Copyright &copy; {{sysName}}</p>
    </div>
  </div>
</div>
