<div class="content-heading mb-lg">
  管理员
  <app-buttons class="pull-right" [config]="addButton" routerLink="addAdmin"></app-buttons>
</div>
<div class="panel p clearfix mb">
  <div class="col-md-4 clearfix" *ngIf="userState==='SUPER' && userOrgCode==='#'">
    <label class="label-width pull-left text-right lh36 mb0">选择机构：</label>
    <div class="col-xs-7">
      <app-select-organ [required]="false" [organCode]="orgCode"
                        (selectedData)="getOrganCode($event)"></app-select-organ>
    </div>
  </div>
  <div class="col-md-4 clearfix">
    <label class="pull-left text-right lh36 label-width mb0">选择区域：</label>
    <div class="col-xs-7">
      <app-select-area [required]="false" [selectedAreaName]="" (myData)="getAreaData($event)"></app-select-area>
    </div>
  </div>
  <div class="col-md-4 clearfix">
    <label class="label-width mb0 pull-left text-right lh36 mb0">按姓名查找：</label>
    <div class="col-xs-6">
      <input type="text" [(ngModel)]="mgrName"
             class="form-control bt0 bl0 br0 border-b-grey ng-pristine ng-valid ng-touched"
             (change)="queryDatas($event)" placeholder="请输入管理员姓名">
    </div>
    <div class="pull-left text-center">
            <span class="ng-scope">
              <button type="button" title="搜索" id="toSearch" (click)="queryDatas($event)"
                      class="btn btn-primary btn-sm bar-h3-btn ng-scope">
                <em class="icon-magnifier fa-fw"></em></button>
            </span>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <table class="table table-striped" #adminsData="rzhDataTable" [rzhData]="admins"
           (pageChange)="queryDatas($event)">
      <thead>
      <tr>
        <th class="w5 unselectable text-center sort-num">
          序号
        </th>
        <th class="w10 unselectable text-center">
          <rzhDefaultSorter by="mgrName">姓名</rzhDefaultSorter>
        </th>
        <th class="w8 unselectable text-center">
          <rzhDefaultSorter by="vatar">头像</rzhDefaultSorter>
        </th>
        <th class="w10 unselectable text-center">
          <rzhDefaultSorter by="phone">手机号</rzhDefaultSorter>
        </th>
        <th class="w10 unselectable text-center hidden-sm">
          <rzhDefaultSorter by="idcard">身份证号</rzhDefaultSorter>
        </th>
        <th class="w13 unselectable text-center hidden-md">
          <rzhDefaultSorter by="home">住址</rzhDefaultSorter>
        </th>
        <th class="w10 unselectable text-center hidden-sm">
          <rzhDefaultSorter by="loginCode">登录账号</rzhDefaultSorter>
        </th>
        <!-- <th class="col-md-1 unselectable text-center">
		   <rzhDefaultSorter by="crtime">创建时间</rzhDefaultSorter>
		 </th>-->
        <th class="w8 unselectable text-center">修改密码</th>
        <th class="w8 unselectable text-center">状态</th>
        <th class="w8 unselectable text-center">修改状态</th>
        <th class="w10 unselectable text-center">其他操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let admin of adminsData.data;let i = index" class="text-center">
        <td>{{i+1}}</td>
        <td>{{admin.mgrName}}</td>
        <td><img height="50px" [src]="admin.avatar" onerror="javascript:this.src='../../../assets/img/dummy.png'"
                 alt=""></td>
        <td>{{admin.phone}}</td>
        <td class="hidden-sm">{{admin.idcard}}</td>
        <td class="hidden-md">{{admin.home}}</td>
        <td class="hidden-sm">{{admin.loginCode}}</td>
        <!--<td>{{admin.crtime | date: 'yyyy-MM-dd HH:mm:ss'}}</td>-->
        <td>
          <button class="btn btn-default fa fa-pencil btn-xs" *ngIf="admin.state=='OPEN' || admin.state=='SUPER'"
                  (click)="updatePwd(admin.mgrCode)" title="修改密码"></button>
        </td>
        <td>{{admin.state | rzhState:'1009'}}</td>
        <td>
          <button class="btn btn-default btn-xs fa fa-ban" *ngIf="admin.state=='SUPER'"> 不可修改
          </button>
          <button class="btn btn-info btn-xs fa fa-pause" *ngIf="admin.state=='OPEN'" title="暂停"
                  (click)="changeState('PAUSE',admin.mgrCode)"></button>
          <button class="btn btn-green btn-xs fa fa-play" *ngIf="admin.state=='PAUSE'" title="开启"
                  (click)="changeState('OPEN',admin.mgrCode)"></button>
          <button class="btn btn-warning btn-xs fa fa-square" *ngIf="admin.state=='PAUSE'" title="冻结"
                  (click)="changeState('FREEZE',admin.mgrCode)"></button>
          <button class="btn btn-danger btn-xs fa fa-trash" *ngIf="admin.state=='FREEZE'" title="删除"
                  (click)="changeState('DEL',admin.mgrCode)"></button>
        </td>
        <td>
          <div *ngIf="admin.state=='SUPER'">
            <app-buttons [config]="option" (callback)="option.callback($event,admin.mgrCode)"
                         *ngFor="let option of buttonConfig"></app-buttons>
          </div>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="11">
          <div class="col-sm-5">
            <div class="text-muted"><strong>第 {{admins.genStartRow()}} 至 {{admins.genEndRow()}} 条，共 {{admins.totalRow}}
              条</strong></div>
          </div>
          <div class="col-sm-7">
            <div class="pull-right">
              <rzhBootstrapPaginator></rzhBootstrapPaginator>
            </div>
          </div>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>

<!--路由嵌套 begin-->
<router-outlet></router-outlet>
<!--路由嵌套 end-->
