<div class="content-heading pt pb">
  权限管理
</div>
<div class="panel p mb">
  <div class="col-md-1 font16 mt5"><i class="icon-magnifier"></i> 选择系统</div>
  <div class="col-md-3">
    <select class="form-control" #sys (change)="onSelectlimit(sys)">
      <!--系统列表begin-->
      <option [value]="item.sysCode" *ngFor="let item of sysList">{{item.sysName}}</option>
      <!--系统列表end-->
    </select>
  </div>
  <div class="clear"></div>
</div>
<div class="panel  mb0">
  <div class="col-md-2 font15 mt mb pl text-primary"><i class="icon-layers mr"></i>菜单权限控制</div>
  <div class="col-md-2 pull-right text-right mt">
    <!--添加菜单权限按钮begin-->
    <app-buttons [config]="addButton" (callback)="addButton.callback($event)" routerLink="addMenu" [queryParams]="{sysCode:sysCode}"></app-buttons>
    <!--添加菜单权限按钮end-->
  </div>
  <table class="table table-striped" #dataTable="rzhDataTable" [rzhData]="data" (pageChange)="queryDatas($event)">
    <thead>
    <tr>
      <th class="unselectable text-center sort-num">
        序号
      </th>
      <th class="col-lg-1  unselectable text-center">
        <rzhDefaultSorter by="name">菜单名称</rzhDefaultSorter>
      </th>
      <th class="col-lg-1  unselectable text-center">
        <rzhDefaultSorter by="url">菜单RUL</rzhDefaultSorter>
      </th>
      <th class="col-lg-2  unselectable text-center">
        <rzhDefaultSorter by="menu">上级菜单</rzhDefaultSorter>
      </th>
      <th class="col-lg-1  unselectable text-center">
        <rzhDefaultSorter by="icon">菜单图标</rzhDefaultSorter>
      </th>
      <th class="col-lg-1  unselectable text-center">
        <rzhDefaultSorter by="level">级别</rzhDefaultSorter>
      </th>
      <th class="col-lg-2  unselectable text-center">
        <rzhDefaultSorter by="note">备注</rzhDefaultSorter>
      </th>
      <th class="col-lg-1  unselectable text-center">
        <rzhDefaultSorter by="order">菜单顺序</rzhDefaultSorter>
      </th>
      <th class="col-lg-1  unselectable text-center">
        <rzhDefaultSorter by="a">是否启动</rzhDefaultSorter>
      </th>
      <th class="col-lg-0  unselectable text-center">
        <rzhDefaultSorter by="b">操作</rzhDefaultSorter>
      </th>
    </thead>
    <tbody>
    <tr class="text-center" *ngFor="let menu of dataTable.data;let i = index" #men id="menList{{i}}" (click)="onSelecttable(menu.menuCode)">
      <td style="padding-left: 20px"><a href="#" title="点击">{{i+1}}</a></td>
      <td>{{menu.menuName}}</td>
      <td>{{menu.menuUrl}}</td>
      <td>{{menu.preMenuCode}}</td>
      <td>{{menu.menuIcon}}</td>
      <td>{{menu.level}}</td>
      <td>{{menu.remarks}}</td>
      <td>{{menu.ord}}</td>
      <td>
        <!--菜单权限列表的是否启用-->

              <label class="switch">
                <input type="checkbox" [checked]="menu.isUse=='Y'" (change)="upMenudateState(menu)" title="是否启动"/>
                <span></span>
              </label>

      </td>
      <td>
        <!--菜单权限列表的修改-->
        <app-buttons [config]="option" (callback)="option.callback($event,menu.menuCode)" *ngFor="let option of tableButtonConfig"></app-buttons>
        <!--菜单权限子列表项的添加-->
        <app-buttons [config]="option" *ngFor="let option of buttonConfig" (callback)="addButton.callback($event)" routerLink="addMenu" [queryParams]="{sysCode:sysCode}"></app-buttons>
        <button class="btn btn-info btn-xs" title="查看子集" limitChild="{{menu.menuCode}}"><i class="fa fa-caret-down"></i></button>
      </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="5">
        <div class="col-sm-5">
          <div class="text-muted"><strong>第 {{data.genStartRow()}} 至 {{data.genEndRow()}} 条，共 {{data.totalRow}} 条</strong></div>
        </div>
        <div class="col-sm-7">
          <div style="float: right">
            <rzhBootstrapPaginator></rzhBootstrapPaginator>
          </div>
        </div>
      </td>
    </tr>
    </tfoot>
  </table>
</div>
<div class="col-md-12 m text-center">
  <i class="fa fa-sort-down fa-2x text-muted"></i>
</div>
<div class="clear"></div>
<p class="text-primary font15 mt0 pl"><i class="icon-graduation mr"></i>交互权限控制</p>
<div class="panel">
  <!--交互权限控制下的tab-->
  <app-limittab [sysCode]="sysCode" [menuCode]="menuCode"></app-limittab>
  <div class="clear"></div>
</div>
<!--路由的嵌套-->
<router-outlet></router-outlet>



