<div class="content-heading mb-lg">
  组织架构
  <app-buttons class="pull-right" [config]="addButton" routerLink="addOrgan"></app-buttons>
</div>
<div class="panel mb">
  <div class="panel-body p ng-scope" ng-if="search">
    <div class="form-group mb0">
      <label class="label-width  pull-left text-right lh35 mb0">查找：</label>
      <div class="col-xs-5">
        <input type="text" [(ngModel)]="searchKey" class="form-control border-b-grey ng-pristine ng-valid ng-touched"
               (change)="queryDatas($event)" placeholder="机构名称">
      </div>
      <div class="col-sm-1 pull-left text-center">
        <span class="ng-scope">
           <button type="button" title="搜索" id="toSearch" (click)="queryDatas($event)"
                   class="btn btn-primary bar-h3-btn mr ng-scope">
             <em class="icon-magnifier fa-fw"></em>搜索
           </button>
          </span>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <table class="table table-striped" #dataTable="rzhDataTable" [rzhData]="organs" (pageChange)="queryDatas($event)">
      <thead>
      <tr>
        <th class="unselectable text-center w5">
          序号
        </th>
        <th class="col-md-1 unselectable text-center">
          <rzhDefaultSorter by="orgName">机构名称</rzhDefaultSorter>
        </th>
        <th class="col-md-1 unselectable text-center">
          <rzhDefaultSorter by="orgBoss">机构负责人</rzhDefaultSorter>
        </th>
        <th class="col-md-1 unselectable text-center">
          <rzhDefaultSorter by="tel">负责人电话</rzhDefaultSorter>
        </th>
        <th class="col-md-2 unselectable text-center">
          <rzhDefaultSorter by="adr">区域名称</rzhDefaultSorter>
        </th>
        <th class="col-md-1 unselectable text-center">
          <rzhDefaultSorter by="orgSign">机构性质</rzhDefaultSorter>
        </th>
        <th class="col-md-1 unselectable text-center">
          <rzhDefaultSorter by="state">机构状态</rzhDefaultSorter>
        </th>
        <th class="col-md-1 unselectable text-center">修改状态</th>
        <th class="col-md-2 unselectable text-center">操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let organ of dataTable.data;let i = index" class="text-center">
        <td>{{i+1}}</td>
        <td>{{organ.orgName}}</td>
        <td>{{organ.orgBoss}}
          <button class="btn btn-default fa fa-pencil btn-xs" (click)="updateBoss(organ.orgCode)" title="修改"></button>
        </td>
        <td>{{organ.tel}}</td>
        <td>{{showAreaName(organ.areaCode)}}</td>
        <td>{{switchType(organ.type)}}
          <button class="btn btn-default fa fa-pencil btn-xs" (click)="updateType(organ.orgCode)" title="修改"></button>
        </td>
        <td>{{switchState(organ.state)}}</td>
        <td>
          <button class="btn btn-info btn-sm fa fa-pause" *ngIf="organ.state=='NOTCERT'" title="开启" (click)="changeState('OPEN',organ.orgCode)"></button>
          <button class="btn btn-info btn-sm fa fa-pause" *ngIf="organ.state=='OPEN'" title="暂停" (click)="changeState('PAUSE',organ.orgCode)"></button>
          <button class="btn btn-info btn-sm fa fa-play" *ngIf="organ.state=='PAUSE'" title="开启" (click)="changeState('OPEN',organ.orgCode)"></button>
          <button class="btn btn-info btn-sm fa fa-square" *ngIf="organ.state=='PAUSE'" title="关闭" (click)="changeState('CLOSE',organ.orgCode)"></button>
          <button class="btn btn-info btn-sm fa fa-trash" *ngIf="organ.state=='CLOSE'" title="删除" (click)="changeState('DELETE',organ.orgCode)"></button>
        </td>
        <td>
          <app-buttons [config]="option" (callback)="option.callback($event,organ.orgCode)"
                       *ngFor="let option of buttonConfig"></app-buttons>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="7">
          <div class="col-sm-5">
            <div class="text-muted"><strong>第 {{organs.genStartRow()}} 至 {{organs.genEndRow()}} 条，共 {{organs.totalRow}}
              条</strong></div>
          </div>
          <div class="col-sm-5">
            <div style="float: right">
              <rzhBootstrapPaginator></rzhBootstrapPaginator>
            </div>
          </div>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>

<!--路由嵌套 begin-->
<router-outlet></router-outlet>
<!--路由嵌套 end-->
