<div class="rightpage">
  <form class="form-validate form-horizontal" #addAdmin="ngForm" style="height: 100%">
    <!-- START panel-->
    <div class="panel-default">
      <!--可编辑表单 start-->
      <div class="panel-body" *ngIf="Admin">
        <fieldset class="b0">
          <legend>{{pageTitle}}</legend>
        </fieldset>

        <fieldset  *ngIf="superAdmin && path == 'addAdmin'">
          <div class="form-group">
            <label class="col-sm-4 control-label"><i>*</i>选择机构</label>
            <div class="col-sm-7">
              <app-select-organ [required]="true" [organCode]="admin.orgCode" [organName]="orgName"
                                (selectedData)="getOrganCode($event)"></app-select-organ>
            </div>
          </div>
          <div class="col-sm-8 pull-right text-danger" [hidden]="!noOrgCode">请选择机构</div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label"><i>*</i>区域</label>
            <div class="col-sm-7">
              <app-select-area [required]="false" [selectedAreaName]="admin.areaCode | areaName" (myData)="getAreaData($event)"></app-select-area>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label"><i>*</i>姓名</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" name="mgrName" required [(ngModel)]="admin.mgrName"
                     #mgrName="ngModel" placeholder="请输入机构名称"/>
            </div>
          </div>
          <div [hidden]="mgrName.valid || mgrName.pristine"
               class="col-sm-8 pull-right text-danger">
            请输入管理员姓名
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label"><i>*</i>负责人电话</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" name="phone" required [(ngModel)]="admin.phone" #phone="ngModel"
                     [pattern]="patterns.phone" placeholder="请输入管理员手机号"/>
            </div>
          </div>
          <div [hidden]="phone.valid || phone.pristine"
               class="col-sm-8 pull-right text-danger">
            请输入正确的号码
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label"><i>*</i>身份证号</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" required name="idcard" [(ngModel)]="admin.idcard"
                     #idcard="ngModel" [pattern]="patterns.idcard" placeholder="请填写身份证号"/>
            </div>
          </div>
          <div [hidden]="idcard.valid || idcard.pristine"
               class="col-sm-8 pull-right text-danger">
            请填写正确的身份证号
          </div>
        </fieldset>
        <fieldset *ngIf="path == 'addAdmin'">
          <div class="form-group">
            <label class="col-sm-4 control-label"><i>*</i>登录帐号</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" name="loginCode" required [(ngModel)]="admin.loginCode"
                     #loginCode="ngModel" placeholder="请输入登陆帐号"/>
            </div>
          </div>
          <div [hidden]="loginCode.valid || loginCode.pristine"
               class="col-sm-8 pull-right text-danger">
            请输入登陆帐号
          </div>
        </fieldset>
        <fieldset *ngIf="path == 'addAdmin'">
          <div class="form-group">
            <label class="col-sm-4 control-label"><i>*</i>密码</label>
            <div class="col-sm-7">
              <input class="form-control" type="password" name="pwd" required [(ngModel)]="admin.pwd" #pwd="ngModel"
                     placeholder="请输入密码"/>
            </div>
          </div>
          <div [hidden]="pwd.valid || pwd.pristine"
               class="col-sm-8 pull-right text-danger">
            请输入密码
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label">上传头像</label>
            <div class="col-sm-7">
              <img *ngIf="admin.avatar && !myImg" class="col-sm-5 p-sm" [src]="admin.avatar" alt="">
              <img *ngIf="admin.avatar && myImg" class="col-sm-5 p-sm" [src]="myImg" alt="">
              <img *ngIf="!admin.avatar && myImg" class="col-sm-5 p-sm" [src]="myImg" alt="">
              <label class="btn btn-default file-upload">
                <i class="icon-cloud-upload mr"></i>{{admin.avatar? '修改图片':'上传图片'}}
                <input class="w100" type="file" name="avatar" ng2FileSelect [uploader]="uploader"
                       (change)="fileChangeListener($event)"/>
              </label>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label">住址</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" name="remarks" [(ngModel)]="admin.home" #home="ngModel"
                     placeholder="住址"/>
            </div>
          </div>
        </fieldset>
      </div>
      <!--可编辑表单 end-->

      <!--展示详情 start-->
      <div class="panel-body" *ngIf="adminDetail">
        <fieldset class="b0">
          <legend>{{pageTitle}}</legend>
        </fieldset>
        <ul class="org-items p">
          <li class="org-item">
            <span class="item-hd col-sm-4">机构代码：</span>
            <p class="item-bd col-sm-7">{{admin.orgCode}}</p>
          </li>
          <li class="org-item">
            <span class="item-hd col-sm-4">区域：</span>
            <p class="item-bd col-sm-7">{{admin.areaCode | areaName}}</p>
          </li>
          <li class="org-item">
            <span class="item-hd col-sm-4">手机号：</span>
            <p class="item-bd col-sm-7">{{admin.phone}}</p>
          </li>
          <li class="org-item">
            <span class="item-hd col-sm-4">管理员姓名：</span>
            <p class="item-bd col-sm-7">{{admin.mgrName}}</p>
          </li>
          <li class="org-item">
            <span class="item-hd col-sm-4">身份证号：</span>
            <p class="item-bd col-sm-7">{{admin.idcard}}</p>
          </li>
          <li class="org-item">
            <span class="item-hd col-sm-4">登陆帐号：</span>
            <p class="item-bd col-sm-7">{{admin.loginCode}}</p>
          </li>
          <li class="org-item">
            <span class="item-hd col-sm-4">登录密码：</span>
            <p class="item-bd col-sm-7">{{admin.pwd}}</p>
          </li>
          <li class="org-item">
            <span class="item-hd col-sm-4">状态：</span>
            <p class="item-bd col-sm-7">{{admin.state | rzhState:'1009'}}</p>
          </li>
          <li class="org-item">
            <span class="item-hd col-sm-4">头像：</span>
            <p class="item-bd col-sm-7">
              <img height="50px" *ngIf="admin.avatar" [src]="admin.avatar"
                   onerror="javascript:this.src='../../../assets/img/dummy.png'"
                   alt="">
            </p>
          </li>
          <li class="org-item">
            <span class="item-hd col-sm-4">住址：</span>
            <p class="item-bd col-sm-7">{{admin.home}}</p>
          </li>
          <li class="org-item">
            <span class="item-hd col-sm-4">创建时间：</span>
            <p class="item-bd col-sm-7">{{admin.crtime | date: 'yyyy-MM-dd HH:mm:ss'}}</p>
          </li>
          <li class="org-item">
            <span class="item-hd col-sm-4">修改时间：</span>
            <p class="item-bd col-sm-7">{{admin.uptime | date: 'yyyy-MM-dd HH:mm:ss'}}</p>
          </li>
        </ul>
      </div>
      <!--展示详情 end-->

      <!--修改密码 start-->
      <div class="panel-body" *ngIf="updatePwd">
        <fieldset class="b0">
          <legend>{{pageTitle}}</legend>
        </fieldset>


        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label">管理员姓名</label>
            <div class="col-sm-7">
              <input class="form-control" readonly [value]="admin.mgrName"/>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label"><i>*</i>新密码</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" name="newpwd" required [(ngModel)]="admin.newpwd"
                     #newpwd="ngModel" placeholder="请输入新密码"/>
            </div>
          </div>
          <div [hidden]="newpwd.valid || newpwd.pristine"
               class="col-sm-8 pull-right text-danger">
            请输入新密码
          </div>
        </fieldset>
      </div>
      <!--修改密码 end-->

      <!--分配角色或角色组 start-->
      <div class="panel-body" *ngIf="allotRoleOrGroup">
        <fieldset class="b0">
          <legend>{{pageTitle}}</legend>
        </fieldset>

        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label">管理员姓名</label>
            <div class="col-sm-7">
              <input class="form-control" readonly [value]="admin.mgrName"/>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label">选择系统</label>
            <div class="col-sm-7">
              <select class="form-control" name="sysCode" required [(ngModel)]="sysCode"
                      (change)="selectedChange()">
                <option value="" disabled>请选择系统</option>
                <option *ngFor="let sys of systems" [value]="sys.sysCode">
                  {{sys.sysName}}
                </option>
              </select>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label">选择角色</label>
            <ng-select class="col-sm-7" (data)="value" [multiple]="true" [items]="Role"
                       [disabled]="!addAdmin.form.valid" #defaultRole
                       (data)="refreshValueRole($event)" placeholder="请选择角色"></ng-select>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label">选择角色组</label>
            <ng-select class="col-sm-7" (data)="value" [multiple]="true" [items]="Group"
                       [disabled]="!addAdmin.form.valid" #defaultGroup
                       (data)="refreshValueGroup($event)" placeholder="请选择角色组"></ng-select>
          </div>
        </fieldset>
      </div>
      <!--分配角色或角色组 end-->

      <!--btns-->
      <div class="panel-footer text-center" style="position: fixed;width: 100%;bottom:0;">
        <button class="ml btn btn-default mr pull-left" (click)="cancel()" type="button">取消</button>

        <!--添加管理员 -->
        <button class="ml btn btn-info pull-left" type="submit" (click)="submitAdminData()"
                *ngIf="Admin" [disabled]="!addAdmin.form.valid">提交
        </button>

        <!--修改密码 -->
        <button class="ml btn btn-info pull-left" type="submit" (click)="submitAdminData()"
                *ngIf="updatePwd" [disabled]="!addAdmin.form.valid">修改密码
        </button>

        <!--修改管理员-->
        <button class="ml btn btn-info pull-left" type="submit" (click)="toUpdateAdmin()" *ngIf="adminDetail"
                [disabled]="!addAdmin.form.valid">修改管理员
        </button>

        <!--分配角色或角色组-->
        <button class="ml btn btn-info pull-left" type="submit" (click)="submitAdminData()" *ngIf="allotRoleOrGroup"
                [disabled]="!addAdmin.form.valid">分配角色或角色组
        </button>
      </div>
    </div>

    <!-- END panel-->
  </form>
</div>
