<div class="rightpage">
  <form class="form-validate form-horizontal" #addSystem="ngForm" style="height: 100%">
    <!-- START panel-->
    <div class="panel-default">
      <!--可编辑表单 start-->
      <div class="panel-body" *ngIf="!sysDetail">
        <fieldset class="b0">
          <legend>{{pageTitle}}</legend>
        </fieldset>

        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label"><i>*</i>系统名称</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" name="sysName" required [(ngModel)]="system.sysName"
                     #sysName="ngModel" placeholder="请输入系统名称"/>
            </div>
          </div>
          <div [hidden]="sysName.valid || sysName.pristine"
               class="col-sm-8 pull-right text-danger">
            系统名称不可缺少
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label"><i>*</i>系统网址</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" required name="sysUrl" [(ngModel)]="system.sysUrl"
                     #sysUrl="ngModel" placeholder="请填写系统网址"/>
            </div>
          </div>
          <div [hidden]="sysUrl.valid || sysUrl.pristine"
               class="col-sm-8 pull-right text-danger">
            系统网址不可缺少
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label">系统LOGO</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" name="sysLogo" [(ngModel)]="system.sysLogo" #sysLogo="ngModel"
                     placeholder="请输入系统LOGO"/>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-sm-4 control-label">备注</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" name="remarks" [(ngModel)]="system.remarks" #remarks="ngModel"
                     placeholder="备注"/>
            </div>
          </div>
        </fieldset>
      </div>
      <!--可编辑表单 end-->

      <!--展示详情 start-->
      <div class="panel-body" *ngIf="sysDetail">
        <fieldset class="b0">
          <legend>{{pageTitle}}</legend>
        </fieldset>
        <ul class="org-items">
          <li class="org-item">
            <span class="item-hd col-sm-4">系统名称：</span>
            <p class="item-bd col-sm-7">{{system.sysName}}</p>
          </li>
          <li class="org-item">
            <span class="item-hd col-sm-4">系统LOGO：</span>
            <p class="item-bd col-sm-7">{{system.sysLogo}}</p>
          </li>
          <li class="org-item">
            <span class="item-hd col-sm-4">系统代码：</span>
            <p class="item-bd col-sm-7">{{system.sysCode}}</p>
          </li>
          <li class="org-item">
            <span class="item-hd col-sm-4">系统网址：</span>
            <p class="item-bd col-sm-7">{{system.sysUrl}}</p>
          </li>
          <li class="org-item">
            <span class="item-hd col-sm-4">创建时间：</span>
            <p class="item-bd col-sm-7">{{system.crtime | date: 'yyyy-mm-dd hh:mm:ss'}}</p>
          </li>
          <li class="org-item">
            <span class="item-hd col-sm-4">修改时间：</span>
            <p class="item-bd col-sm-7">{{system.uptime | date: 'yyyy-mm-dd hh:mm:ss'}}</p>
          </li>
          <li class="org-item">
            <span class="item-hd col-sm-4">备注：</span>
            <p class="item-bd col-sm-7">{{system.remarks}}</p>
          </li>
        </ul>
      </div>
      <!--展示详情 end-->

      <!--btns-->
      <div class="panel-footer text-center" style="position: fixed;width: 100%;bottom:0;">
        <button class="ml btn btn-default mr pull-left" (click)="cancel()" type="button">取消</button>

        <!--添加系统-->
        <button class="ml btn btn-info pull-left" type="submit" (click)="submitSysData()" *ngIf="!sysDetail"
                [disabled]="!addSystem.form.valid">提交信息
        </button>

        <!--修改系统-->
        <button class="ml btn btn-info pull-left" type="submit" (click)="toUpdateSystem()" *ngIf="sysDetail"
                [disabled]="!addSystem.form.valid">修改信息
        </button>
      </div>
    </div>

    <!-- END panel-->
  </form>
</div>
