<input class="form-control" (focus)="showSelectArea()" [required]="required" [(ngModel)]="adr" type="text" name="adr" placeholder="请选择地址"/>
<div class="slectArea" *ngIf="show">
  <div class="area-list">
    <button type="button" *ngFor="let area of areas" area-code="area.areaCode" (click)="getArea(area.fullName,area.areaCode,area.isNew)" class="area-item btn btn-default"><em class="elderCity-class-for-sel mr icon-arrow-right"></em>{{area.areaName}}</button>
  </div>
  <div class="select-area-footer">
    <button type="button" (click)="freshCitys()" class="btn btn-info btn-xs m5"><em id="elderCity-refresh-em" class="icon-refresh"></em></button>
    <button type="button" (click)="cityConfirm()" class="btn btn-success btn-xs m5 right"><em class="fa fa-check-square-o"></em> 确认</button>
  </div>
</div>
