
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
.special{
  height:250px;
  overflow-y: auto;
}

.dropdownToggle.btn{
  text-align: left;
}
.dropdownToggle .caret{
  margin-top: 7px;
}
