<div class="home-p">
  <div class="container">
    <div class="row">
      <div class="col-md-3 left-tree">
        <div class="row">
          <div class="col-xs-12">
            <div class="search">
              <form action="">
                <div class="form-group">
                  <label for="search"></label>
                  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                  <input class="form-control" type="text" id="search" placeholder="搜素">
                </div>
              </form>
            </div>
            <div class="tab clearfix">
                <span class="btn btn-primary ml w90">{{user.orgName}}
</span>
            </div>
            <div class="tree">
              <app-tree [result]="result" [pre_arr]="pre_arr"></app-tree>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9 right-content">
        <div>
          <app-navigation [path]="path_arr"></app-navigation>
          <app-table [orgEmpExtVOList]="orgEmpExtVOList"></app-table>
        </div>
      </div>
    </div>
  </div>
</div>
