<div class="content-heading mb-lg">组织架构</div>
  <div class="w76" style="margin:50px auto">
    <div class="panel-heading bg-gray-lighter text-bold col-md-3">
      <div style="background: #fff; height: 30px; border-radius: 5px" class="w98">
        <i class="icon-magnifier ml mr"></i>
        <input type="text" placeholder="搜索" style="border: none;height: 30px;">
      </div>
      <button class="btn btn-primary btn-sm mt20 w50" type="button">组织管理</button>
    </div>
    <div class="panel col-md-9">
      dfjisdfc
    </div>
  </div>
